In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [25]:
d0=pd.read_csv("D:/Projects/Amazon Employee Access/train.csv")
d1=pd.read_csv("D:/Projects/Amazon Employee Access/test.csv")
d2=pd.read_csv("D:/Projects/Amazon Employee Access/sampleSubmission.csv")

In [26]:
d0.head(5)

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [27]:
train=d0

In [28]:
d1.head(5)

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [29]:
d2.head(5)

   Id  Action
0   1       0
1   2       0
2   3       0
3   4       0
4   5       0

In [30]:
print(d0.shape,d1.shape,d2.shape)

(32769, 10) (58921, 10) (58921, 2)

In [31]:
y_train=train['ACTION']
x_train=train.drop("ACTION",axis=1)

In [32]:
test=d1

In [33]:
from xgboost import XGBClassifier

In [34]:
model=XGBClassifier()

In [35]:
model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [36]:
id=test[['id']]
print(type(id))

<class 'pandas.core.frame.DataFrame'>

In [37]:
x_test=test.drop("id",axis=1)

In [38]:
y_pred=model.predict(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [39]:
predictions=[round(value) for value in y_pred]

In [40]:
predict=pd.DataFrame(y_pred,columns=['Action'])

In [41]:
submission = pd.concat([id,predict],axis =1)

In [43]:
submission.head(5)

   id  Action
0   1       1
1   2       1
2   3       1
3   4       1
4   5       1

In [44]:
submission.to_csv('D:/Projects/Amazon Employee Access/submission.csv')